<!DOCTYPE html>
<head>

<meta charset="utf-8">

<script src="https://code.jquery.com/jquery-git2.min.js"></script>
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
</head>

	<div ng-app="ImmunoApp" ng-controller="immunoAppController" name="manager">
		<div id="graph">
		</div>
		<div ng-show="selectSickNodeMode">
			<p>{{appMessage}}</p>
			<button ng-click="propager()">Ok</button>
		</div>
		<input type="range" ng-mouseup="reinitialiserGraphe()"ng-model="parameters.percentVaccinated" max="{{100-parameters.percentNonVaccinable}}" min="0" step="1">{{parameters.percentVaccinated}}
		<input type="range" ng-mouseup="reinitialiserGraphe()" ng-model="parameters.percentNonVaccinable" max="{{100-parameters.percentVaccinated}}" min="0" step="1">{{parameters.percentNonVaccinable}}
		<button ng-click="">RegenererGraphe</button>
		<button ng-click="changerNoeud8()">changer noeud 8</button>
		<button ng-click="lancerPropagation()">Lancer Propagation</button>
	</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var ImmunoApp = angular.module('ImmunoApp',{});

ImmunoApp.controller('immunoAppController',['$scope', function ($scope) {	
	$scope.parameters={};
	$scope.frontier=[];
	$scope.selectSickNodeMode = false;
	$scope.parameters.propagation = 15;
	$scope.parameters.percentVaccinated = 0;
	$scope.parameters.percentNonVaccinable = 0;
	$scope.width = 960,
	$scope.height = 500;
	$scope.graph = {
		  "nodes":[],
		  "links":[]
		}
	
	$scope.regenererGraphe = function(){
		$scope.graph.nodes = [];
		$scope.graph.links = [];
		$scope.id = 0;
		$scope.graph.nodes.push($scope.initialiserNoeud("Myriel",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Napoleon",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mlle.Baptistine",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.Magloire",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("CountessdeLo",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Geborand",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Champtercier",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Cravatte",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Count",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("OldMan",1,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Labarre",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Valjean",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Marguerite",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.deR",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Isabeau",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Gervais",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Tholomyes",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Listolier",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Fameuil",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Blacheville",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Favourite",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Dahlia",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Zephine",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Fantine",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.Thenardier",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Thenardier",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Cosette",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Javert",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Fauchelevent",0,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Bamatabois",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Perpetue",3,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Simplice",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Scaufflaire",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Woman1",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Judge",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Champmathieu",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Brevet",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Chenildieu",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Cochepaille",2,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Pontmercy",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Boulatruelle",6,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Eponine",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Anzelma",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Woman2",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("MotherInnocent",0,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Gribier",0,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Jondrette",7,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.Burgon",7,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Gavroche",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Gillenormand",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Magnon",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mlle.Gillenormand",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.Pontmercy",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mlle.Vaubois",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Lt.Gillenormand",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Marius",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("BaronessT",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mabeuf",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Enjolras",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Combeferre",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Prouvaire",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Feuilly",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Courfeyrac",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Bahorel",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Bossuet",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Joly",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Grantaire",8,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("MotherPlutarch",9,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Gueulemer",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Babet",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Claquesous",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Montparnasse",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Toussaint",5,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Child1",10,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Child2",10,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Brujon",4,$scope.generateStatus()));
		$scope.graph.nodes.push($scope.initialiserNoeud("Mme.Hucheloup",8,$scope.generateStatus()));
		$scope.graph.links.push({"source":1,"target":0,"value":1},
		{"source":2,"target":0,"value":8},
		{"source":3,"target":0,"value":10},
		{"source":3,"target":2,"value":6},
		{"source":4,"target":0,"value":1},
		{"source":5,"target":0,"value":1},
		{"source":6,"target":0,"value":1},
		{"source":7,"target":0,"value":1},
		{"source":8,"target":0,"value":2},
		{"source":9,"target":0,"value":1},
		{"source":11,"target":10,"value":1},
		{"source":11,"target":3,"value":3},
		{"source":11,"target":2,"value":3},
		{"source":11,"target":0,"value":5},
		{"source":12,"target":11,"value":1},
		{"source":13,"target":11,"value":1},
		{"source":14,"target":11,"value":1},
		{"source":15,"target":11,"value":1},
		{"source":17,"target":16,"value":4},
		{"source":18,"target":16,"value":4},
		{"source":18,"target":17,"value":4},
		{"source":19,"target":16,"value":4},
		{"source":19,"target":17,"value":4},
		{"source":19,"target":18,"value":4},
		{"source":20,"target":16,"value":3},
		{"source":20,"target":17,"value":3},
		{"source":20,"target":18,"value":3},
		{"source":20,"target":19,"value":4},
		{"source":21,"target":16,"value":3},
		{"source":21,"target":17,"value":3},
		{"source":21,"target":18,"value":3},
		{"source":21,"target":19,"value":3},
		{"source":21,"target":20,"value":5},
		{"source":22,"target":16,"value":3},
		{"source":22,"target":17,"value":3},
		{"source":22,"target":18,"value":3},
		{"source":22,"target":19,"value":3},
		{"source":22,"target":20,"value":4},
		{"source":22,"target":21,"value":4},
		{"source":23,"target":16,"value":3},
		{"source":23,"target":17,"value":3},
		{"source":23,"target":18,"value":3},
		{"source":23,"target":19,"value":3},
		{"source":23,"target":20,"value":4},
		{"source":23,"target":21,"value":4},
		{"source":23,"target":22,"value":4},
		{"source":23,"target":12,"value":2},
		{"source":23,"target":11,"value":9},
		{"source":24,"target":23,"value":2},
		{"source":24,"target":11,"value":7},
		{"source":25,"target":24,"value":13},
		{"source":25,"target":23,"value":1},
		{"source":25,"target":11,"value":12},
		{"source":26,"target":24,"value":4},
		{"source":26,"target":11,"value":31},
		{"source":26,"target":16,"value":1},
		{"source":26,"target":25,"value":1},
		{"source":27,"target":11,"value":17},
		{"source":27,"target":23,"value":5},
		{"source":27,"target":25,"value":5},
		{"source":27,"target":24,"value":1},
		{"source":27,"target":26,"value":1},
		{"source":28,"target":11,"value":8},
		{"source":28,"target":27,"value":1},
		{"source":29,"target":23,"value":1},
		{"source":29,"target":27,"value":1},
		{"source":29,"target":11,"value":2},
		{"source":30,"target":23,"value":1},
		{"source":31,"target":30,"value":2},
		{"source":31,"target":11,"value":3},
		{"source":31,"target":23,"value":2},
		{"source":31,"target":27,"value":1},
		{"source":32,"target":11,"value":1},
		{"source":33,"target":11,"value":2},
		{"source":33,"target":27,"value":1},
		{"source":34,"target":11,"value":3},
		{"source":34,"target":29,"value":2},
		{"source":35,"target":11,"value":3},
		{"source":35,"target":34,"value":3},
		{"source":35,"target":29,"value":2},
		{"source":36,"target":34,"value":2},
		{"source":36,"target":35,"value":2},
		{"source":36,"target":11,"value":2},
		{"source":36,"target":29,"value":1},
		{"source":37,"target":34,"value":2},
		{"source":37,"target":35,"value":2},
		{"source":37,"target":36,"value":2},
		{"source":37,"target":11,"value":2},
		{"source":37,"target":29,"value":1},
		{"source":38,"target":34,"value":2},
		{"source":38,"target":35,"value":2},
		{"source":38,"target":36,"value":2},
		{"source":38,"target":37,"value":2},
		{"source":38,"target":11,"value":2},
		{"source":38,"target":29,"value":1},
		{"source":39,"target":25,"value":1},
		{"source":40,"target":25,"value":1},
		{"source":41,"target":24,"value":2},
		{"source":41,"target":25,"value":3},
		{"source":42,"target":41,"value":2},
		{"source":42,"target":25,"value":2},
		{"source":42,"target":24,"value":1},
		{"source":43,"target":11,"value":3},
		{"source":43,"target":26,"value":1},
		{"source":43,"target":27,"value":1},
		{"source":44,"target":28,"value":3},
		{"source":44,"target":11,"value":1},
		{"source":45,"target":28,"value":2},
		{"source":47,"target":46,"value":1},
		{"source":48,"target":47,"value":2},
		{"source":48,"target":25,"value":1},
		{"source":48,"target":27,"value":1},
		{"source":48,"target":11,"value":1},
		{"source":49,"target":26,"value":3},
		{"source":49,"target":11,"value":2},
		{"source":50,"target":49,"value":1},
		{"source":50,"target":24,"value":1},
		{"source":51,"target":49,"value":9},
		{"source":51,"target":26,"value":2},
		{"source":51,"target":11,"value":2},
		{"source":52,"target":51,"value":1},
		{"source":52,"target":39,"value":1},
		{"source":53,"target":51,"value":1},
		{"source":54,"target":51,"value":2},
		{"source":54,"target":49,"value":1},
		{"source":54,"target":26,"value":1},
		{"source":55,"target":51,"value":6},
		{"source":55,"target":49,"value":12},
		{"source":55,"target":39,"value":1},
		{"source":55,"target":54,"value":1},
		{"source":55,"target":26,"value":21},
		{"source":55,"target":11,"value":19},
		{"source":55,"target":16,"value":1},
		{"source":55,"target":25,"value":2},
		{"source":55,"target":41,"value":5},
		{"source":55,"target":48,"value":4},
		{"source":56,"target":49,"value":1},
		{"source":56,"target":55,"value":1},
		{"source":57,"target":55,"value":1},
		{"source":57,"target":41,"value":1},
		{"source":57,"target":48,"value":1},
		{"source":58,"target":55,"value":7},
		{"source":58,"target":48,"value":7},
		{"source":58,"target":27,"value":6},
		{"source":58,"target":57,"value":1},
		{"source":58,"target":11,"value":4},
		{"source":59,"target":58,"value":15},
		{"source":59,"target":55,"value":5},
		{"source":59,"target":48,"value":6},
		{"source":59,"target":57,"value":2},
		{"source":60,"target":48,"value":1},
		{"source":60,"target":58,"value":4},
		{"source":60,"target":59,"value":2},
		{"source":61,"target":48,"value":2},
		{"source":61,"target":58,"value":6},
		{"source":61,"target":60,"value":2},
		{"source":61,"target":59,"value":5},
		{"source":61,"target":57,"value":1},
		{"source":61,"target":55,"value":1},
		{"source":62,"target":55,"value":9},
		{"source":62,"target":58,"value":17},
		{"source":62,"target":59,"value":13},
		{"source":62,"target":48,"value":7},
		{"source":62,"target":57,"value":2},
		{"source":62,"target":41,"value":1},
		{"source":62,"target":61,"value":6},
		{"source":62,"target":60,"value":3},
		{"source":63,"target":59,"value":5},
		{"source":63,"target":48,"value":5},
		{"source":63,"target":62,"value":6},
		{"source":63,"target":57,"value":2},
		{"source":63,"target":58,"value":4},
		{"source":63,"target":61,"value":3},
		{"source":63,"target":60,"value":2},
		{"source":63,"target":55,"value":1},
		{"source":64,"target":55,"value":5},
		{"source":64,"target":62,"value":12},
		{"source":64,"target":48,"value":5},
		{"source":64,"target":63,"value":4},
		{"source":64,"target":58,"value":10},
		{"source":64,"target":61,"value":6},
		{"source":64,"target":60,"value":2},
		{"source":64,"target":59,"value":9},
		{"source":64,"target":57,"value":1},
		{"source":64,"target":11,"value":1},
		{"source":65,"target":63,"value":5},
		{"source":65,"target":64,"value":7},
		{"source":65,"target":48,"value":3},
		{"source":65,"target":62,"value":5},
		{"source":65,"target":58,"value":5},
		{"source":65,"target":61,"value":5},
		{"source":65,"target":60,"value":2},
		{"source":65,"target":59,"value":5},
		{"source":65,"target":57,"value":1},
		{"source":65,"target":55,"value":2},
		{"source":66,"target":64,"value":3},
		{"source":66,"target":58,"value":3},
		{"source":66,"target":59,"value":1},
		{"source":66,"target":62,"value":2},
		{"source":66,"target":65,"value":2},
		{"source":66,"target":48,"value":1},
		{"source":66,"target":63,"value":1},
		{"source":66,"target":61,"value":1},
		{"source":66,"target":60,"value":1},
		{"source":67,"target":57,"value":3},
		{"source":68,"target":25,"value":5},
		{"source":68,"target":11,"value":1},
		{"source":68,"target":24,"value":1},
		{"source":68,"target":27,"value":1},
		{"source":68,"target":48,"value":1},
		{"source":68,"target":41,"value":1},
		{"source":69,"target":25,"value":6},
		{"source":69,"target":68,"value":6},
		{"source":69,"target":11,"value":1},
		{"source":69,"target":24,"value":1},
		{"source":69,"target":27,"value":2},
		{"source":69,"target":48,"value":1},
		{"source":69,"target":41,"value":1},
		{"source":70,"target":25,"value":4},
		{"source":70,"target":69,"value":4},
		{"source":70,"target":68,"value":4},
		{"source":70,"target":11,"value":1},
		{"source":70,"target":24,"value":1},
		{"source":70,"target":27,"value":1},
		{"source":70,"target":41,"value":1},
		{"source":70,"target":58,"value":1},
		{"source":71,"target":27,"value":1},
		{"source":71,"target":69,"value":2},
		{"source":71,"target":68,"value":2},
		{"source":71,"target":70,"value":2},
		{"source":71,"target":11,"value":1},
		{"source":71,"target":48,"value":1},
		{"source":71,"target":41,"value":1},
		{"source":71,"target":25,"value":1},
		{"source":72,"target":26,"value":2},
		{"source":72,"target":27,"value":1},
		{"source":72,"target":11,"value":1},
		{"source":73,"target":48,"value":2},
		{"source":74,"target":48,"value":2},
		{"source":74,"target":73,"value":3},
		{"source":75,"target":69,"value":3},
		{"source":75,"target":68,"value":3},
		{"source":75,"target":25,"value":3},
		{"source":75,"target":48,"value":1},
		{"source":75,"target":41,"value":1},
		{"source":75,"target":70,"value":1},
		{"source":75,"target":71,"value":1},
		{"source":76,"target":64,"value":1},
		{"source":76,"target":65,"value":1},
		{"source":76,"target":66,"value":1},
		{"source":76,"target":63,"value":1},
		{"source":76,"target":62,"value":1},
		{"source":76,"target":48,"value":1},
		{"source":76,"target":58,"value":1});
	};
	
	$scope.initialiserNoeud = function(name,group,status){
		return {"name":name,"group":group,"status":$scope.generateStatus(), "id":$scope.id++};
	};
	
	$scope.changerNoeud8 = function(){
		var data = {"status": "V"};
		$scope.updateNode(8,data);
	};

	$scope.updateNodeById = function(id,newInfos){
		var i = 0;
		var found = false;
		while(!found && i < $scope.graph.nodes.length){
			if($scope.graph.nodes[i].id == id){
				found = true;
			}
			else{
				i++;
			}
		}
		if(found){
			if("name" in newInfos){	
				$scope.graph.nodes[i].name = newInfos.name;
			}
			if("status" in newInfos){	
				$scope.graph.nodes[i].status = newInfos.status;
			}
			return $scope.graph.nodes[i];	
		}
		else{
			return false;
		}
	};

	$scope.updateNode = function(id,data){
		var node = $scope.updateNodeById(id,data);
		if(node!=false){
			console.log(node);
			console.log("recherche node "+$scope.idcss(id));
			var circle = $scope.svg.select($scope.idcss(id)); 
			console.log(circle);
			var d1 = new Date().getTime();
			circle
			.transition()
			.duration(2)
			.style("fill", $scope.fillNode(node));
			console.debug("[TIME]", new Date().getTime() - d1);
		}
		else{
			console.log("node " +id+ "not found in the graph :");
			console.log($scope.graph.nodes);
		}
		
	};

	$scope.generateStatus = function(){
		var rnd = Math.random();
		var status="NV";
		if(rnd<($scope.parameters.percentVaccinated/100)){
			status="V";
		}
		else if(rnd>1-($scope.parameters.percentNonVaccinable/100)){
		status = "IV";
		}
		return status;
	};
	
	$scope.idhtml = function(id){
		return "circle-"+id;	
	};
	
	$scope.idcss = function(id){
		return "#"+$scope.idhtml(id);
	};
	
	$scope.fillNode = function(node){
		var color;
		if(node.status=="V"){
		color = d3.rgb(0,255,0);
		}
		else if(node.status=="IV"){
		color = d3.rgb(204,204,0);
		}
		else if(node.status=="NV"){
		color = d3.rgb(64,64,255);
		}
		else if(node.status=="I"){
		color = d3.rgb(255,0,0);
		}
		return  color;
	}

	$scope.initialiserGraphe = function(){
		
		var color = d3.scale.category20();
		
		$scope.force = d3.layout.force()
			.charge(-120)
			.linkDistance(75)
			.size([$scope.width, $scope.height]);
			
		var svgContainer = document.getElementById('graph');
		svgContainer.innerHTML = '';
		$scope.svg = d3.select("#graph").append("svg")
			.attr("width", $scope.width)
			.attr("height", $scope.height);
			
		
		console.log($scope.graph);
			$scope.force
			  .nodes($scope.graph.nodes)
			  .links($scope.graph.links)
			  .start();

		$scope.link = $scope.svg.selectAll(".link")
		  .data($scope.graph.links)
		.enter().append("line")
		  .attr("class", "link")
		  .style("stroke-width", function(d) { return Math.sqrt(d.value); });

		 
		$scope.node = $scope.svg.selectAll(".node")
		  .data($scope.graph.nodes)
		.enter().append("circle")
		  .attr("class", "node")
		  .attr("id",function(d){
				return $scope.idhtml(d.id);
			})
		  .attr("r", 6)
		  .style("fill", $scope.fillNode)
		  .call($scope.force.drag)
		  .on("click",function(d){
		  $scope.nodeCkickEvent(d)}
		  );

		$scope.node.append("title")
		.text(function(d) { return d.name; });

		$scope.force.on("tick", function() {
			$scope.link.attr("x1", function(d) { return d.source.x; })
			.attr("y1", function(d) { return d.source.y; })
			.attr("x2", function(d) { return d.target.x; })
			.attr("y2", function(d) { return d.target.y; });

			$scope.node.attr("cx", function(d) { return d.x; })
			.attr("cy", function(d) { return d.y; });
		});
		//$scope.initPropagation();
	};
	
	$scope.nodeCkickEvent = function(node){
		//console.log("click");
		console.log(node);
		if($scope.selectSickNodeMode){
			if (node.status == "NV"){
				var data = {"status":"I"};
				$scope.updateNode(node.id,data)
				$scope.frontier.push(node.id);
				//console.log($scope.frontier);
			}
			else if(node.status == "I"){
				var data = {"status":"V"};
				$scope.updateNode(node.id,data)
				var index = $scope.frontier.indexOf(node.id);
				$scope.frontier.splice(index,1);
			}
			else if (node.status == "V"){
				var data = {"status":"IV"};
				$scope.updateNode(node.id,data)
			}
			else if (node.status == "IV"){
				var data = {"status":"NV"};
				$scope.updateNode(node.id,data)
			}
			
		}
		//console.log(node);	
	};

	$scope.lancerPropagation = function(){
		$scope.selectSickNodeMode = true;
		$scope.appMessage="Selectionner le ou les premiers infectés";
		//$scope.initPropagation();
		//$scope.doNextStep();
	};


	
	$scope.initPropagation = function(){
		$scope.frontier = [$scope.getRandomInt(0, $scope.graph.nodes.length)];
		console.debug("initial frontier");
		console.debug($scope.frontier);
	};  

	$scope.propagation = function(){
		var cpt = 0
		var _continue = true;
		while(_continue){
			_continue = false;
			console.debug("[CPT]",cpt++);
		}
	};
	
	$scope.propager = function(){
		$scope.selectSickNodeMode = false;
		setInterval($scope.doNextStep, 2000);
	};
	
	$scope.doNextStep=function(){
		var noMoreStep = true;
		var neighbors = [];
			$scope.frontier.forEach(function(e){
				Array.prototype.push.apply(neighbors, $scope.findNeighbors(e));
			});

			var newFrontier =[];
			neighbors.forEach(function(e){
				if($scope.graph.nodes[e].status != "V" && $scope.graph.nodes[e].status != "I"){
					newFrontier.push(e);
					//$scope.graph.nodes[e].status = "I";
					$scope.updateNode(e, {"status":"I"})
					noMoreStep = true;
					//sleep(1);
				} 
			})
			$scope.frontier = newFrontier;
			console.debug("nouveau frontier");
			console.debug($scope.frontier);
		return noMoreStep;
	}

	$scope.findNeighbors = function(t) {
		var e = []
		for (n = 0; n < $scope.graph.links.length; n++) {
			var r = $scope.graph.links[n];
			r.source.index == t && e.push(r.target.index), r.target.index == t && e.push(r.source.index);
		}
		return e
	};

	$scope.getRandomInt = function(min, max) {
	  return Math.floor(Math.random() * (max - min)) + min;
	};

	$scope.checkPropagation = function(){
		var res = false;
		$scope.graph.nodes.every(function(element, index, array) {
			console.debug("[STAT]",element.status);
			if (element.status == "NV" || element.status == "IV") { 
				res = true;
				return false;
			}
			return true;
		});
		return res;
	};
	
	$scope.reinitialiserGraphe = function(){
		$scope.regenererGraphe();
		$scope.initialiserGraphe();
	};
	
	$scope.regenererGraphe();
	$scope.initialiserGraphe();
}]);

function sleep(seconds){
    var waitUntil = new Date().getTime() + seconds*1000;
    while(new Date().getTime() < waitUntil) true;
}
</script>